<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="fname" [(ngModel)]="model.fname" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="lname" [(ngModel)]="model.lname" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="loginId" [(ngModel)]="model.loginId" placeholder="Login Id">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword"
            placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="contactNo" [(ngModel)]="model.contactNo"
            placeholder="Contact Number">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>